body {
	margin: 1em auto;
	max-width: 40em;
	padding: 0.62em;
	font: 1.2em/1.62 serif;
	background-color: #21180d;
	color: #f9f8cc
}
h1,h2,h3,h4,h5,h6 {
	line-height: 1.2;	
	color: #cfba58
}
img {
	max-width: 100%;
	height: auto;
}
a:link {
	color: #cfba58;
}
a:hover {
	color: #f9f8cc;
}
a:visited {
	color: #cfba58;
}
a:active {
	color: #f9f8cc;
}

